<form action="/api/users" method="POST" id="new_useR">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" name="name" id="inputName" placeholder="Name">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inlineRadio3">Gender</label>
            <div class="form-group form-control" style="border: none;">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio1"
                        value="Male">
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                        value="Female">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio3"
                        value="Other">
                    <label class="form-check-label" for="inlineRadio3">Other</label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="inlineradio2">Status</label>
            <div class="form-group form-control" style="border: none;">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="status" id="inlineradio1"
                        value="Active">
                    <label class="form-check-label" for="inlineradio1">Active</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="status" id="inlineradio2"
                        value="Inactive">
                    <label class="form-check-label" for="inlineradio2">Inactive</label>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-success col-md-12" role="button"
        style="font-family: 'Varela Round', sans-serif;" type="submit">Save</button>
</form>