<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--font-awesome CSS-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!--Google fonts import-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
        .row{
            margin-top: 35px;
        }
        .table{
            margin-top: 15px;
        }
        *{
            font-family: 'Varela Round', sans-serif;
        }
        .new-user{
            margin-top: 5px;
            margin-bottom: 25px;
        }
    </style>

    <title>CRUD Application</title>
</head>

<body>
    <!--header-->
    <main class="container" role="main">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded box-shadow text-white">
            <div class="lh-100">
              <h6 class="mb-0 text-white lh-100">User Management System</h6>
            </div>
          </div>
    </main>
    <!--/header-->